html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#map {
  z-index: 1;
  width: auto;
  height: 100vh;
}
#about {
  position: relative;
  z-index: 2;
}
.about-button {
  margin: 2px;
  padding: 4px;
}
.about-button > a {
  text-decoration: none;
}
.about-button > a:hover {
  color: blue;
}
.filter-control {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.filter-control > label {
  margin: 2px;
  text-align: center;
}
